/* common css start----------------------- */
* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8rem;
    text-align: justify;
}

.container {
    width: 70%;
    margin: auto;
    min-height: 80vh;
}

img {
    width: 100%;
}

h1 {
    font-size: 2.6rem;
    font-weight: bolder;
    margin: 25px 0px;
    color: #ff468f;
}

/* common css end----------------------- */



/* utility classes start-----------------------*/

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-gap {
    padding: 100px 0px;
}

.btn {
    text-decoration: none;
    padding: 8px 25px;
    color: #fff;
    background-color: #ff468f;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
}

.text-center{
    text-align: center;
}


.section-heading {
    margin-bottom: 30px;
    font-size: 32px;
}

.description {
    font-size: 16px;
    margin: 35px 0px 25px 0px;
}

.color-gray{
    color: rgb(97, 97, 97);
}
/* utility classes end-----------------------*/




/* header and biography css start ------------------*/

#header_area {
    background-image: url("img/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    flex-basis: 35%;
}

.img {
    flex-basis: 40%;
}

#biography_area {
    background-image: url("img/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* header and biography css end ------------------*/




/* work and biography css end ------------------*/

#work_area{
    background-image: url("img/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#work_area .container{
    min-height: 50vh;
}

#work_area .work img{
    width: 90%;
    transition: 0.3s;
}

#work_area .work img:hover{
    transform: scale(1.1);
}
/* work css end ------------------*/

#clients_area{
    background-image: url("img/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#clients_area a.btn{
    padding: 40px 120px;
}

.client-info{
    width: 35%;
    margin: 50px auto;
}

#clients_area a.btn span{
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: normal;
    display: block;
}
#clients_area a.btn span.email{
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 10px;
}
